div.banner {
  border-bottom: 1px solid rgb(196, 196, 196);
  margin-bottom: 1%;
  padding: 2%;
  padding-top: 0%;
  padding-bottom: 0%;
  display: flex;
  justify-content: space-between;
}

.sep {
  display: flex;
  justify-content: space-between;
}

div.logged-in {
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

div.register {
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
}

h1.title {
  color: rgb(28, 28, 28);
}

div.login {
  padding-top: 1%;
}

div.post {
  padding: 1%;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
}

div.post-title {
  font-weight: bold;
}

div.post-author {
  color: rgb(130, 130, 130);
  font-size: 15px;
}

div.post-wrapper {
  border: 1px solid rgb(196, 196, 196);
  margin-right: 10%;
  margin-left: 0.5%;
  padding: 0.5%;
}

.center {
  display: block;
  margin: auto;
}
